@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
	padding: 0;
	margin: 0;
	border: 0;
}
h1{
	font-family: 'Alegreya', sans-serif;
}
h3{
	margin-top:10px;
	text-align: center;
	font-family: 'Alegreya', sans-serif;
}
form{
	text-align: center;
}
input{
	width: auto%;
	font-size: 16px;
	padding: 3px;
	margin: 5px;
	background-color: #222222;
}
label{
	font-family: 'Alegreya', sans-serif;
}
input{
	color: #fcfcfc;
	text-align: center;
}

/*header*/
header{
	width: 100%;
	height: 60px;
	background-color: #222222;
	margin: 0;
	padding: 0;
}
#header-inner{
  max-width: 1200px;
	height: auto;
  margin: 0 auto;
}
#logo{
  margin: 20px;
  float: left;
  width: auto;
  height: auto;
  background: url(icons/RD.png) no-repeat center;
}
#search{
	text-align: center;
}
nav{
	float: right;
	padding: 0;
}
header form{

}
#menu-icon{
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(icons/nav.png) center;
}
a:hover#menu-icon{
  border-radius: 4px 4px 0 0;
}
/* Alle unsortierten Listen ohne Punkte*/
ul{
  list-style-type: none;
}
/**************************************/
nav ul li{
  font-family: 'Alegreya', sans-serif;
	font-size: 100%;
	margin: 0 10px 0 10px;
	display: inline-block;
	foat: left;
	line-height: 24px;
}
nav ul li img{
	vertical-align: middle;
}
nav ul li a{
	color: #fcfcfc;
	font-family:  Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
}

/*content*/
body{
	width: 100%;
	margin: 0 auto;
}

/*registration*/

/*End registration*/

/*login*/

/*End login*/

/*upload*/

/*End upload*/

/*Profileinstellungen*/

/*End profile settings*/

p{
	font-family: 'Alegreya', sans-serif;
}
a{
	font-family: 'Alegreya', sans-serif;

}

/*profileinfo*/

/*end profileinfo */

/*google maps*/
#map{
	height: 800px;
	width: 100%%;
}
/*end google maps*/

/*Profilseite header*/

/*End profile page*/

/*Runde Bilder*/
.circle{
	border-radius: 50%;
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid;
	font-family: 'Alegreya', sans-serif;
}
th, td{
	padding: 4px;
}
canvas.chart{
	background: #222222;
}
